body {
  color:darkblue;
}
#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/presents.jpg");
  background-size:cover;
  filter: blur(0.2em);
}

.chooseandsee {
    margin: 1%;
    padding: 2%;
    text-align: center;
}


#calculate, #orgachooser {
  display: inline-block;
  min-width: 40%;
  margin: auto 1%;
  vertical-align: top;
  height: 100%;
  padding: 3%;
  text-align: left;
  background: #ffffffb3;
  border: 0px;
  box-shadow: 0px 0px 10px #000;
  border-radius: 15px;
  max-width: 400px;
}
#response {
  top:5%;
}
fieldset {
  text-align: center;
}
.ui-checkboxradio-icon {
    display: none;
}

#response {
    min-width: 40%;
    margin: auto;
    padding: 3%;
    text-align: center;
    background: #fff;
    border: 0px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 15px;
    margin-top: 5%;
    height: auto;
    max-width: 300px;
    transition: .5s;
}

#closeresponse {
    margin: 2%;
    font-weight: bold;
    cursor: pointer;
    min-width: 15%;
    height: 2em;
    font-size: 1.2em;
}

label {
  margin: .3em auto;
  width: 20%;
  min-width: 230px;
  font-weight: bold !important;
  border-radius: 15px !important;
}

.orgaspan {
    max-width: 90%;
    display: inline-block;
}

.fa.fa-heart {
    float: right;
    top: 0;
    position: relative;
    margin-top: 0;
    display:none;
}

label.ui-state-active .fa.fa-heart {
  display:inline-block;
  color:red;
}

.orgadonation {
  background: #fff;
  box-shadow: 0px 0px 3px lightgray;
  padding: 1% 3%;
  border-radius: 15px;
  height: auto;
  display: inline-block;
  margin: 1% 0;
}

.explaination {
    display: inline-block;
    width: 92%;
    margin: auto 1%;
    margin-bottom:1%;
    vertical-align: top;
    height: 100%;
    padding: 1%;
    text-align: center;
    background: #ffffffb3;
    border: 0px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 15px;
    font-weight: bold;
}

#submit {
    font-weight: bold;
    cursor: pointer;
}
#responseoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.5);
    z-index: 1;
    top: -100%;
    left: 0;
    transition: .5s;
}
#responseoverlay.active {
  top: 0;
}

@media screen and (max-width:1000px) {
  #calculate, #orgachooser {
    width: 100%;
    margin-top:3%;
  }
}
